body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    background-color: +rgb(255, 255, 255);
}

#gato {
    border: 10px solid blue;
    padding: 10px;
}

#fondo {
    background-color: aqua;
    background-image: url("../img/descarga.png");
    height: 144px;
}

#elpablo {
    background-color: rgb(255, 255, 255);
    background-image: url("../img/2991148.png");
    height: 128px;
}



#elofertas {
    background-color: rgb(255, 255, 255);
    background-image: url("../img/descarga.jpg");
    height: 128px;
}
#inicio {
    background-color: rgb(53, 53, 53);
    height: 1125px;
    background-image: url("../img/f.ico");
    background-repeat:no-repeat;
}

#navidad {
    background-color: rgb(53, 53, 53);
    height: 1125px;
    background-image: url("../img/navidad.ico");
    background-repeat:no-repeat;
}

#sumadre {
    background-color: rgb(250, 250, 250);
    height: 1125px;
    background-image: url("../img/image.ico");
    background-repeat:no-repeat;
}
#facebook {
    background-color: rgb(255, 255, 255);
    background-image: url("../img/facebook.jpg");
    height: 1125px;
    background-repeat:no-repeat;
}

#cuentos {
    background-color: rgb(255, 255, 255);
    background-image: url("../img/KIDA.PNG");
    height: 221px;
    background-repeat:no-repeat;
}

#gato2 {
    transition: box-shadow 0.3s ease;
    background-color: #fff;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0; 
}

#gato2 h2,p {
    margin: 1rem;
}

#gato2 {
    cursor: pointer;
}

#gato2:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0,5);
}
#gato3 {
    transition: box-shadow 0.3s ease;
    background-color: #fff;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0; 
}

#gato3 h2,p {
    margin: 1rem;
}

#gato3 {
    cursor: pointer;
}

#gato3:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0,5);
}

#gato4 {
    transition: box-shadow 0.3s ease;
    background-color: #fff;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0; 
}

#gato4 h2,p {
    margin: 1rem;
}

#gato4 {
    cursor: pointer;
}

#gato4:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0,5);
}

#gato5 {
    transition: box-shadow 0.3s ease;
    background-color: #fff;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0; 
}

#gato5 h2,p {
    margin: 1rem;
}

#gato5 {
    cursor: pointer;
}

#gato5:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0,5);
}

#gato6 {
    transition: box-shadow 0.3s ease;
    background-color: #fff;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0; 
}

#gato6 h2,p {
    margin: 1rem;
}

#gato6 {
    cursor: pointer;
}

#gato6:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0,5);
}


#gato7 {
    transition: box-shadow 0.3s ease;
    background-color: #fff;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0; 
}

#gato7 h2,p {
    margin: 1rem;
}

#gato7 {
    cursor: pointer;
}

#gato7:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0,5);
}

#gato8 {
    transition: box-shadow 0.3s ease;
    background-color: #fff;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0; 
}

#gato8 h2,p {
    margin: 1rem;
}

#gato8 {
    cursor: pointer;
}

#gato8:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0,5);
}

#gato9 {
    transition: box-shadow 0.3s ease;
    background-color: #fff;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0; 
}

#gato9 h2,p {
    margin: 1rem;
}

#gato9 {
    cursor: pointer;
}

#gato9:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0,5);
}

#gato10 {
    transition: box-shadow 0.3s ease;
    background-color: #fff;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0; 
}

#gato10 h2,p {
    margin: 1rem;
}

#gato10 {
    cursor: pointer;
}

#gato10:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0,5);
}

#gato11 {
    transition: box-shadow 0.3s ease;
    background-color: #fff;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0; 
}

#gato11 h2,p {
    margin: 1rem;
}

#gato11 {
    cursor: pointer;
}

#gato11:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0,5);
}

#gato12 {
    transition: box-shadow 0.3s ease;
    background-color: #fff;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0; 
}

#gato12 h2,p {
    margin: 1rem;
}

#gato12 {
    cursor: pointer;
}

#gato12:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0,5);
}

#fiking {
    transition: box-shadow 0.3s ease;
    background-color: #fff;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0; 
}

#fiking h2,p {
    margin: 1rem;
}

#fiking {
    cursor: pointer;
}

#fiking:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0,5);
}

#fiking{
    float: right;
}

#link1:link {
    color: black;
}

#link1:visited {
    color: #ff0000;
}